.page{
  box-sizing:border-box;
  width:calc(100vw - 264px);
  max-width:none!important;
  min-width:0;
  margin-left:50%;
  transform:translateX(-50%);
}

@media(max-width:860px){
  .page{
    width:calc(100vw - 32px);
  }
}

@media(max-width:620px){
  .page{
    width:calc(100vw - 20px);
  }
}
